@import "tailwindcss";

@theme {
    --color-brand-primary: #4F46E5;
    --color-brand-secondary: #7C3AED;
    --color-brand-dark: #312E81;
    --color-brand-light: #818CF8;
    --color-accent: #06B6D4;

    --animate-gradient-x: gradient-x 5s ease infinite;

    @keyframes gradient-x {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}